.places {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 148px * 2); /* позволяет плавно изменять ширину блока без использования margin, сохраняя отступ */
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* плавное изменение ширины блока и отступов без скачков */

@media screen and (max-width: 1224px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 864px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 24px * 2);
    gap: 73px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    max-width: 100%;
    gap: 64px;
  }
}
