.header {
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: calc(100% - 48px * 2); /* позволяет плавно изменять ширину блока без использования margin, сохраняя отступ */
  min-height: 52px;
  justify-content: space-between;
}

@media screen and (max-width: 864px) {
  .header {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 473px) {
  .header {
    max-width: calc(100% - 16px * 2);
  }
}
