.footer__copyright {
  margin: 0;
  justify-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    margin: 48px 0 24px 0;
    font-size: 14px;
    line-height: 14px;
  }
}
