.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    min-height: 200px;
  }
}
