.place {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: 460px auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 864px) {
  .place {
    grid-template-columns: 340px auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: auto;
    gap: 32px;
  }
}
