.footer {
  margin: 0 auto;
  max-width: calc(100% - 48px * 2); /* позволяет плавно изменять ширину блока без использования margin, сохраняя отступ */
  min-height: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 864px) {
  .footer {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: calc(100% - 16px * 2);
    flex-direction: column;
  }
}
