.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 2px;
}

@media screen and (max-width: 720px) {
  .place__url-heading {
    margin-left: 16px;
  }
}
