/*устанавливает отступы между блоками страницы */

.page__space {
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
  .page__space {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 425px) {
  .page__space {
    margin: 0 auto 64px;
  }
}
